---
layout: default
---

<div class="post">
    <div class="post-info">
      <span>Napisany przez </span>
      {% if page.author %}
          {{ page.author }}
      {% else %}
          {{ site.author.name }}
      {% endif %}
  
      {% if page.date %}
        <br>
        <span>w&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%d/%m/%Y"  }}</time>
      {% endif %}
    </div>
  
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>
  
    {{ content }}
  </div>
